$color-white: #fff;
$color-grey: #777;
$color-lightblue: #1bbae1;
$height-header: 50px;
$height-footer: 100px;
$color-red: #23bd51;
$color-athens-gray: #eaedf1;
$color-darkgrey: #394263;
$color-transparent: rgba(255, 255, 255, 0.5);

$font-size: 0.8rem;
@mixin box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
@mixin avatar {
    background-image: url("../assets/sort.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin arrowRight {
    background-image: url("../assets/right.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin arrowLeft {
    background-image: url("../assets/left.png");
    background-size: cover;
    background-repeat: no-repeat;
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif a {
        text-decoration: none;
    }

    .text-light {
        font-weight: 300;
    }

    .text-bold {
        font-weight: bold;
    }
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 100%; // Charts responsiveness won't work with fr units
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    overflow-x: hidden; // Prevent overflow scroll from hidden sidenav

    &--noscroll {
        overflow-y: hidden;
    }
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey;
    background-color: $color-white;
    font-size: 20px;
}

.main {
    grid-area: main;
    background-color: $color-athens-gray;
    color: $color-darkgrey;
    font-size: $font-size;
}
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        background-color: $color-darkgrey;
        color: $color-white;

        &_search {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 55px;
            font-size: $font-size;
            color: $color-grey;

            &_input {
                border: none;
                padding: 12px;
                font-size: $font-size;
                color: $color-grey;
                background-color: $color-white;
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        &_dropdownicon {
            @include avatar;
            position: relative;
            margin: 0 26px;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
    }

    &_main {
        display: flex;
        flex-direction: column;
        position: relative;

        justify-content: space-between;
        padding-right: 20px;
        background-color: $color-white;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 120px;
            bottom: 0;
            width: 2px;
            background-color: #f0f0f0;
        }
    }

    &_row {
        position: relative;
        display: flex;
        flex: 1;
        margin: 15px 0 0px;
    }

    &_row_icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        top: 0;
        left: 121px;
        transform: translateX(-50%);
        border-radius: 50%;
        color: $color-white;
        background-color: $color-lightblue;
        z-index: 1;
    }

    &_row:nth-child(even) {
        .table_row_icon {
            background-color: $color-red;
        }
    }

    &_row_details {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-left: 12px;
        margin-left: 148px;
        transform: translateX(0);
        transition: all 0.3s;

        &:hover {
            background-color: #f0f0f0;
            transform: translateX(4px);
            cursor: pointer;
        }
    }

    &_row_name {
        color: $color-lightblue;
    }

    &_row_city {
        font-size: $font-size;
        color: $color-grey;
    }
    &_row_genre {
        font-size: $font-size;
        color: $color-grey;
    }
    &_row_phone {
        font-size: $font-size;
        color: $color-grey;
    }
}
.checkboxButton {
    padding: 10px;
    display: flex;
    align-items: center;
    color: $color-white;

    label {
        margin: 10px;
    }
}
.dropdown {
    position: absolute;
    top: 52px;
    right: 10px;
    width: 150px;
    height: auto;
    z-index: 2;
    background-color: rgb(241, 235, 235);
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.3s;
    @include box-shadow;

    &_list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &_list-item {
        padding: 10px 10px;
        color: $color-grey;
    }
    &_list-item_name {
        padding: 12px 24px;
        color: $color-grey;
        text-transform: capitalize;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &_list-item_state {
        padding: 12px 24px;
        color: $color-grey;
        text-transform: capitalize;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &_list-item_genre {
        padding: 12px 24px;
        color: $color-grey;
        text-transform: capitalize;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &:before {
        position: absolute;
        content: "";
        top: -6px;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 6px solid #fff;
    }
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    color: $color-grey;
    background-color: $color-white;

    &_pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $color-lightblue;
        align-items: center;
        &_leftArrow {
            @include arrowLeft;
            width: 50px;
            height: 25px;
            margin: 12px 12px;
        }
        &_numberPage {
            font-size: $font-size;
        }
        &_rightArrow {
            @include arrowRight;
            width: 50px;
            height: 25px;
            margin: 12px 12px;
        }
    }

    &_copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $color-lightblue;
        padding: 0 16px;
        background-color: $color-darkgrey;
    }

    &_signature {
        color: $color-lightblue;
        cursor: pointer;
        font-weight: bold;
    }
}
